<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" >
    <title>Roastify</title>
    <style>
        
        body {
            align-items: center;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            padding: 0; 
            box-sizing: border-box;
            background-color: #FFFDF9;
            font-family: "Plus Jakarta Sans", sans-serif;

        }
        .content{
            flex: 1;
            padding: 20px;
            align-content: center;
        }
        .content h1 .highlight{
            font-size:72px;
            font: weight 750px;;
            color:rgb(170, 39, 39);
            margin-bottom:0;
        }
        .content h1{
            font-size:72px;
            font: weight 750px;;
            color:#121211;
            margin-bottom:0;
        }
        .content p{
            color: #9a9a9a;
            font-size: 16px;
        }
        .content input {
            font-size: 14px;
            border-radius: 6px;
            line-height: 1.5;
            padding: 8px 16px;
            transition: box-shadow 100ms ease-in, border 150ms ease-in, background-color 100ms ease-in;
            border: 2px solid #dee1e2;
            color: rgb(22, 22, 22);
            background: #dee1e2;
            display: block;
            height: 12px;
        }
        .content input:hover {
            border-color: #ccc;
        }
        .content input:focus {
            border-color: #f2eaff;
            background: #fff;
        }
        .content button {
            background-color: #222222;
            border: 0;
            border-radius: 6px;
            color: #fff;
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5;
            padding: 5px 10px;
            margin-top: 10px;
        }
        .content button:hover {
            background-color: #757575;
        }
        footer {
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Just.. how <span class="highlight">BAD</span> your spotify is?</h1>
        <p>Just kidding, but seriously i cant wait to speak up about how BAD your spotify is.</p>
        <button id="startButton">Start here</button>

        <script>
        document.getElementById('startButton').addEventListener('click', function() {
            window.location.href = '/roast';
        });
        </script>
        
    </div>
    <footer>
        Made with ❤️ by yogarn
    </footer>
</body>
</html>
